@import '~antd/dist/antd.css';
.form_container{
 text-align: center;
max-width: 30vw;
 margin-top:20vh ;
 margin-left:10vw
}
.close{
  position: relative;
  margin-top: 2% !important;
  margin-left: 95% !important;
}
.addr-form{
  display:block;
  margin-top: 20vh;
  margin-left: 35vw;
  width: 30vw;
  height: 40vh;
  z-index:2 !important;
  position: fixed !important;
  background-color:#ECEAE9;
}
.alert-box{
  display:block;
top:5;
right:0;
  width: 30vw;
  height: 10vh;
  z-index:2 !important;
  position: fixed !important;
}
.alert-box1{
  display:none;
top:5;
right:0;
  width: 30vw;
  height: 10vh;
  z-index:2 !important;
  position: fixed !important;
}